@*@model ShowCardAddDto*@
@model ShowCardAddWithCategoryDto
<h1>Yeni İlan Ekleme</h1>
<hr />
<form class=""
      asp-area="Admin"
      asp-controller="ShowCard"
      asp-action="Create"
      method="post"
      enctype="multipart/form-data">
    <div class="row">
        <div class="col-8">

            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input class="form-control" asp-for="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Price" class="form-label"></label>
                <input class="form-control" asp-for="Price">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            @*            <div class="mb-3">
            <label asp-for="ImageFile" class="form-label"></label>
            <input type="file" asp-for="ImageFile" accept="image/" />
            <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>*@
            <div class="mb-3">
                <label asp-for="Description" class="form-label"></label>
                <input class="form-control" asp-for="Description">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
@*                <label asp-for="Description" class="form-label"></label>
                <input class="form-control" asp-for="Description">
                <span asp-validation-for="Description" class="text-danger"></span>
*@
                <select class="form-select" aria-label="Default select example">
                    <option selected>Lütfen bir öğretmen seçiniz.</option>
                    @foreach (var item in Model.Teachers)
                    {
                        <option value="@item.Id">@item.FirstName @item.LastName</option>
                    }
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>



        <div class="col-4">
            <div>
                <div>
                    <label asp-for="Categories"></label>
                </div>
                @foreach (var sc in Model.CategoryDtos)
                {


                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-heading_@sc.Name">

                                @*                                <input type="hidden" name="SelectedCategoryId" value="@sc.Id" />
                            *@
                                <label class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne_@sc.Name" aria-expanded="false" aria-controls="flush-collapseOne">
                                    <input type="radio"
                                       class="form-check-input"
                                       name="SelectedCategoryId"
                                       value="@sc.Id"
                                       @* @if (Model.SelectedCategoryId != null)
                                       {
                                       @(Model.SelectedCategoryId.Equals(Model.SelectedCategoryId == sc.Id) ? "checked" : "")
                                       }*@ />
                                    <div class="m-2">@sc.Name</div>
                                </label>
                                <span asp-validation-for="SelectedCategoryId" class="text-danger"></span>
                            </h2>

                            @foreach (var s in sc.SubjectDtos)
                            {
                                <div id="flush-collapseOne_@sc.Name" class="accordion-collapse collapse bordered" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="list-group ml-4 text-start" type="button">
                                        @*                                            <input type="hidden" name="SelectedSubjectId" value="@s.Id" />
                                <input type="hidden" name="SelectedCategoryId" value="@sc.Id" />*@
                                        <div class="">
                                            <label class="list-group-item bg-info text-white">
                                                <input type="radio"
                                               class="form-check-input"
                                               name="SelectedSubjectId"
                                               value="@s.Id"
                                               @* @if (Model.SelectedSubjectId != null)
                                               {
                                               @(Model.SelectedSubjectId.Equals(Model.SelectedSubjectId == s.Id) ? "checked" : "")
                                               }*@ />
                                                @s.Name
                                            </label>

                                        </div>
                                    </div>
                                    <span asp-validation-for="SelectedSubjectId" class="text-danger"></span>
                                </div>
                            }
                        </div>
                    </div>
                }
                @*.Equals(Model.SelectedSubjectId == s.Id)*@
            </div>










            <div class="mb-1">Seçenekler</div>
            <div class="m-2 text-start">
                <input type="checkbox"
                       class="form-check-input"
                       asp-for="IsHome">
                <label asp-for="IsHome" class="form-label"></label>
                <span asp-validation-for="IsHome" class="text-danger"></span>
            </div>
            @*            <div class="mb-3">
            <input type="checkbox"
            class="form-check-input"
            asp-for="IsApproved">
            <label asp-for="IsApproved" class="form-label"></label>
            <span asp-validation-for="IsApproved" class="text-danger"></span>
            </div>*@
        </div>
    </div>
</form>