@model List<ShowCardListDto>
<h1>İlanlar</h1>
<hr />
<a class="btn btn-outline-primary"
   asp-area="Admin"
   asp-controller="ShowCard"
   asp-action="Create">Yeni İlan Ekle</a>
<hr />
<table class="table table-responsive table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            @*<th>Resim</th>*@
            <th>Adı</th>
            <th>Fiyatı</th>
            <th>Açıklama</th>
            <th>Kategoriler</th>
            <th>Öğretmen</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ShowCard.Id</td>
@*                <td>
                    <img src="/images/@item.Product.ImageUrl" width="20" />
                </td>*@
                <td>@item.ShowCard.Title</td>
                <td>@($"{item.ShowCard.Price:C2}")</td>
                <td>@item.ShowCard.Description</td>
                <td>
                        @foreach (var category in item.ShowCard.SubjectCategoryShowCards)
                        {
                            <span>@category.SubjectCategory.Category.Name</span>
                        }
                        @foreach (var category in item.ShowCard.SubjectCategoryShowCards)
                        {
                            <span>@category.SubjectCategory.Subject.Name</span>
                        }
                </td>
                <td>
@*                    <span>@item.ShowCard.Teacher.FirstName</span>
                    <span>@item.ShowCard.Teacher.LastName</span>*@
                </td>
                <td>
                    <a class="btn btn-warning btn-sm"
                   asp-area="Admin"
                   asp-controller="ShowCard"
                   asp-action="Edit"
                   asp-route-id=@item.ShowCard.Id>Düzenle</a>
                    <a class="btn btn-danger btn-sm"
                   asp-area="Admin"
                   asp-controller="ShowCard"
                   asp-action="Delete"
                   asp-route-id=@item.ShowCard.Id>Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>